* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 25%;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  display: inline-block;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.button {
  text-align: center;
}

.gallery {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
  place-items: center;
}

.error {
  color: red;
}

.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.container p {
  text-align: center;
  margin: 10px 0;
}

nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#logo {
  align-self: center;
  font-size: larger;
}

.right {
  display: flex;
}

.name {
  align-self: center;
  margin: 0 5px;
}

#logout button:hover {
  background-color: red;
}

.pagination button {
  margin: 10px 5px;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: auto;
}

footer p {
  text-align: center;
}

button[disabled] {
  background-color: gray;
}

/* CSS for responsiveness */
@media only screen and (max-width: 850px) {
  .gallery {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    margin: 0;
    padding: 0 5%;
  }

  img {
    max-width: 100vw;
  }
}